input {
    font-size: 22px;
    color: #000;
    padding: 18px 22px;
    font-size: 16px;
    margin-bottom: 17px;
    border: 2;
    display: block;
    width: 100%;  
}
  
  
form button {
    width: 100%;
    margin-top: 10px;
}
  
.user-profile {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 100px;
    height: 100px;
}
  
.user-profile img {
    border-radius: 50%;
    max-width: 100%;
}